<!DOCTYPE html>
<html lang="en" ng-app="painterApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Water Color Gallery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="data/app.js"></script>
    
</head>
<body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="assets/images/s-lukash-dark.png" width="200" alt="S. Lukash"> Watercolor Painting</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Galleries
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Flowers</a>
                        <a class="dropdown-item" href="#">Still Life</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Landscape</a>
                      </div>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">News</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">My History</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">Contacts</a>
                    </li>
                  </ul>
                 
                </div>
            </div>
              </nav>
              <div class="container mt-nav">
                <div class="row galleries-btn-gr">
                        <div class="btn-group" role="group" aria-label="Galleries">
                                <button type="button" class="btn btn-secondary">Flowers</button>
                                <button type="button" class="btn btn-secondary">Still Life</button>
                                <button type="button" class="btn btn-secondary">Landscape</button>
                                <button type="button" class="btn btn-secondary">Seascape</button>
                                <button type="button" class="btn btn-secondary">Nude</button>
                                <button type="button" class="btn btn-secondary">Graphics</button>
                                <button type="button" class="btn btn-secondary">Portrait</button>
                                <button type="button" class="btn btn-secondary">Voyage</button>
                        </div>
                </div>
                <div class="row gallery ">
                    <div class="card-columns">
                            <div class="card entry-box"  >
                                    <div ng-click="showImg(breedDog)"><img class="card-img-top" src="assets/paintings/city.jpg" alt="{{breedId}}">
                                        <div class="overlay-title-category-hover">
                          
                                            <div class="hvr-txt-align">
                                                      
                                                      <div><i class="fas fa-search-plus"></i></div>	
                                                    
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="card-body">
                                      <h6 class="card-title">paintingId paintingId paintingId{{paintingId}}</h6>
                                    </div>
                                    <div class="card-footer">
                                     <p class="card-text"><small class="text-muted">75x55cm <span class="card-material" >Watercolor</span></small></p>
                                    </div>
                                    
                            </div><!-- /card -->
                            <div class="card entry-box"  >
                                    <div ng-click="showImg(breedDog)"><img class="card-img-top" src="assets/paintings/city.jpg" alt="{{breedId}}">
                                        <div class="overlay-title-category-hover">
                          
                                            <div class="hvr-txt-align">
                                                      
                                                      <div><i class="fas fa-search-plus"></i></div>	
                                                    
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="card-body">
                                      <h6 class="card-title">paintingId paintingId paintingId{{paintingId}}</h6>
                                     
                                     <p class="card-text"><small class="text-muted">100x100cm <span class="card-material" >Watercolor</span></small></p>
                                    </div>
                                    
                            </div><!-- /card --><div class="card entry-box"  >
                                    <div ng-click="showImg(breedDog)"><img class="card-img-top" src="assets/paintings/city.jpg" alt="{{breedId}}">
                                        <div class="overlay-title-category-hover">
                          
                                            <div class="hvr-txt-align">
                                                      
                                                      <div><i class="fas fa-search-plus"></i></div>	
                                                    
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="card-body">
                                      <h5 class="card-title">{{paintingId}}</h5>
                                     
                                     <p class="card-text"><small class="text-muted">100x100cm 2010</small></p>
                                    </div>
                                    
                            </div><!-- /card --><div class="card entry-box"  >
                                    <div ng-click="showImg(breedDog)"><img class="card-img-top" src="assets/paintings/city.jpg" alt="{{breedId}}">
                                        <div class="overlay-title-category-hover">
                          
                                            <div class="hvr-txt-align">
                                                      
                                                      <div><i class="fas fa-search-plus"></i></div>	
                                                    
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="card-body">
                                      <h5 class="card-title">{{paintingId}}</h5>
                                     
                                     <p class="card-text"><small class="text-muted">100x100cm 2010</small></p>
                                    </div>
                                    
                            </div><!-- /card -->
                          <div class="card entry-box"  >
                                  <div ng-click="showImg(breedDog)"><img class="card-img-top" src="assets/paintings/city.jpg" alt="{{breedId}}">
                                      <div class="overlay-title-category-hover">
                        
                                          <div class="hvr-txt-align">
                                                    
                                                    <div><i class="fas fa-search-plus"></i></div>	
                                                  
                                          </div>
                                          
                                      </div>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">{{paintingId}}</h5>
                                   
                                   <p class="card-text"><small class="text-muted">100x100cm 2010</small></p>
                                  </div>
                                  
                          </div><!-- /card -->
                          <div class="card entry-box "  >
                                <div ng-click="showImg(breedDog)"><img class="card-img-top" src="assets/paintings/flowers.jpg" alt="{{breedId}}">
                                    <div class="overlay-title-category-hover">
                      
                                        <div class="hvr-txt-align">
                                                  
                                                  <div><i class="fas fa-search-plus"></i></div>	
                                                
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">{{paintingId}}</h5>
                                 
                                 <p class="card-text"><small class="text-muted">100x100cm 2010</small></p>
                                </div>
                                
                        </div><!-- /card -->
                        <div class="card entry-box "  >
                                <div ng-click="showImg(breedDog)"><img class="card-img-top" src="assets/paintings/flowers-2.jpg" alt="{{breedId}}">
                                    <div class="overlay-title-category-hover">
                      
                                        <div class="hvr-txt-align">
                                                  
                                                  <div><i class="fas fa-search-plus"></i></div>	
                                                
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">{{paintingId}}</h5>
                                 
                                 <p class="card-text"><small class="text-muted">100x100cm 2010</small></p>
                                </div>
                                
                        </div><!-- /card -->
                        <div class="card entry-box "  >
                                <div ng-click="showImg(breedDog)"><img class="card-img-top" src="assets/paintings/shoes.jpg" alt="{{breedId}}">
                                    <div class="overlay-title-category-hover">
                      
                                        <div class="hvr-txt-align">
                                                  
                                                  <div><i class="fas fa-search-plus"></i></div>	
                                                
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">{{paintingId}}</h5>
                                 
                                 <p class="card-text"><small class="text-muted">100x100cm 2010</small></p>
                                </div>
                                
                        </div><!-- /card -->
                    </div>
                    </div>
                </div>
<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark text-center">
        <div class="text-center footer-txt"><a class="navbar-brand small text-muted " href="#">All rights reserved <i class="fa fa-copyright" aria-hidden="true"></i> 2018</a></div>
</nav>              
              <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>        
</body>
</html>