<div class="container-fluid mt-nav mx-3">
    <div class="row row-exhibit galleries-btn-gr  align-items-center justify-content-center">
    
                            <div class="btn-group" role="group" aria-label="Galleries">
                                    <button type="button" class="btn btn-secondary" ng-click="showAddImg()">Add Painting</button>
                                    <button type="button" class="btn btn-secondary" ng-click="sortBy('year')">Sort by date</button>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle my-btn-group-responsive" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Galleries
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item" href="" ng-click="filterGal = {gallery: 'Flowers'}">Flowers</a>
                                          <a class="dropdown-item" href="" ng-click="filterGal = {gallery: 'Still Life'}">Still Life</a>
                                          <a class="dropdown-item" href="" ng-click="filterGal = {gallery: 'Landscape'}">Landscape</a>
                                          <a class="dropdown-item" href="" ng-click="filterGal = {gallery: 'Seascape'}">Seascape</a>
                                          <a class="dropdown-item" href="" ng-click="filterGal = {gallery: 'Nude'}">Nude</a>
                                          <a class="dropdown-item" href="" ng-click="filterGal = {gallery: 'Graphics'}">Graphics</a>
                                          <a class="dropdown-item" href="" ng-click="filterGal = {gallery: 'Portrait'}">Portrait</a>
                                          <a class="dropdown-item" href="" ng-click="filterGal = {gallery: 'Voyage'}">Voyage</a>
                                          <a class="dropdown-item" href="" ng-click="filterGal = undefined">Show All</a>
                                        </div>
                                      </div>
                                  
                            </div>
                           
    </div>        
<div class="row">
    <div class="cards-dash card-columns">
            <div class="card entry-box" ng-repeat="painting in paintings  | filter: filterGal | orderBy: propertyName : reverse"  >
                    <div ><img class="card-img-top" ng-src="{{painting.image}}" alt="{{painting.title}}">
                        <div class="overlay-title-category-hover" ng-click="showEditImg(painting)">
          
                            <div class="hvr-txt-align">
                                      
                                      <div><i class="fas fa-edit"></i></div>	
                                    
                            </div>
                            
                        </div>
                    </div>
                    
                    
            </div><!-- /card -->
    </div>

</div>
<!-- Modal Edit Painting -->
<div class="modal-edit-gal" ng-hide="hideModalEdit">
    <div class = "row">
            <div class="col-sm-11">
                            <h4>Edit Painting Details</h4>
            </div>
            <div class="col-sm-1"><span class="float-right" ng-click="hideEditImg()"><i class="fas fa-window-close"></i></span></div>
    </div>  

<div class = "row">
    <div class="col-md-5">
            <form>
                    <div class="form-group">
                      <input type="text" class="form-control input-img" id="" ng-model="title"  placeholder="Enter Title">
                      <input type="text" class="form-control input-img" id="" ng-model="size" placeholder="Enter Size">
                      <input type="text" class="form-control input-img" id="" ng-model="technique" placeholder="Enter Technique">
                      <input type="number" class="form-control input-img" id="" ng-model="year" placeholder="Enter Year"  required>
                      <select class="form-control input-img" ng-model="gallery" id=""  required>
                        <option value="" disabled selected>Sellect Gallery</option>
                        <option>Flowers</option>
                        <option>Still Life</option>
                        <option>Landscape</option>
                        <option>Seascape</option>
                        <option>Nude</option>
                        <option>Graphics</option>
                        <option>Portrait</option>
                        <option>Voyage</option>
          </select>
          <div class="form-check">
                <input class="form-check-input" ng-model="available" type="checkbox" value="" id="available">
                <label class="form-check-label" for="available">
                  Available
                </label>
              </div>
                    </div>
                    
                    <button type="submit" ng-click="saveEditImg()" class="btn btn-secondary btn-block">Save Changes</button>
            </form>
            <div class="mt-2"><a href=''  ng-click="deleteItem()">Delete forever</a></div>
    </div>
    <div class="col-md-7">
            <img class="modalEdit" src="{{image}}" alt="{{title}}">
        </div>

</div>
</div>
</div>
<!-- Modal Add New Painting -->
<div class="modal-add-img" ng-hide="hideModal">
    <div class = "row">
         <div class="col-sm-11">
                <h4>Add New Painting</h4>
         </div>
         <div class="col-sm-1"><span class="float-right" ng-click="hideAddImg()"><i class="fas fa-window-close"></i></span></div>
        </div>           
        <div class = "row">
            <div class="col-lg-12 success-wraper">
                    <form>
                            <div class="form-group">
                              <input type="text" class="form-control input-img" ng-model="title" id=""  placeholder="Enter Title" required>
                              <div class="custom-file  input-img">
                                    <input type="file" class="custom-file-input my-file-input" ng-model="editItem._attachments_uri.image" ng-change="showImgNameP()" accept="image/*" app-filereader id="customFile" name="myImage"  required>
                                    <label class="custom-file-label" for="customFile">{{imgTxtP}}</label>
                                </div>
                              <input type="text" class="form-control input-img" ng-model="size" id=""  placeholder="Enter Size"  required>
                              <input type="text" class="form-control input-img" ng-model="technique" id=""  placeholder="Enter Technique"  required>
                              <input type="number" class="form-control input-img" ng-model="year" id=""  placeholder="Enter Year"  required>
                              <select class="form-control" ng-model="gallery" id=""  required>
                                            <option value="" disabled selected>Sellect Gallery</option>
                                            <option>Flowers</option>
                                            <option>Still Life</option>
                                            <option>Landscape</option>
                                            <option>Seascape</option>
                                            <option>Nude</option>
                                            <option>Graphics</option>
                                            <option>Portrait</option>
                                            <option>Voyage</option>
                              </select>
                              <div class="form-check">
                                <input class="form-check-input" ng-model="available" type="checkbox" value="" id="available">
                                <label class="form-check-label" for="available">
                                  Available
                                </label>
                              </div>
                            </div>
                            <div class="success-popup" ng-show="showSuccess"><h5>Success!</h5></div>
                            <div class="alert alert-secondary alert-pnt" role="alert" ng-show="errMsg">
                                Please fill in all fields!
                              </div>
                            <button type="submit" class="btn btn-secondary btn-block" ng-click="addImg(name, editItem._attachments_uri.image, title, size, technique, year, gallery, available)">Save Changes</button>
                    </form>
                    
            </div>
            <div class="col-md-8">
    
                </div>
    
        </div>
</div>