body {
    position: relative;
    color: #1e2045;
    background-color: #e7e2d7;
}
h1, h2, h3, h4, h5, h6, .h1, .h2,  .h3, .h4,  .h5, .h6 {
    color: #1e2045;
}
a {
    color: #e83a23;
}
a:hover {
    color: #c51a04;
}
/* NavBar */
.bg-light {
    background-color: rgba(248, 249, 250, 0.7)!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.8);
}
.nav-item a:hover {
    color: #e83a23 !important;
}
/* /NavBar */

/* About area start */
.about-section {
    padding-top: 150px;
    padding-bottom: 145px;
}
.about-accourdion {
    margin-top: 0px
}
.about-accourdion .card-header a {
    color: #1e2045;
    font-size: 18px;
    padding: 18px 15px;
    display: block;
}
.about-accourdion .card-body {
    background: #e5efe3 none repeat scroll 0 0;
    color: #1e2045;
    font-size: 15px;
}
.about-accourdion .card-header.active a {
    color:#e83a23;
}
.about-accourdion .card-header a[aria-expanded="true"] {
    color:#e83a23;
}
.about-accourdion .card-header a[aria-expanded="true"]::before {
    content: "\f107";
    line-height: 20px;
}
.about-accourdion .card-header a {
    position: relative;
}
.about-accourdion .card-header a::before {
    position: absolute;
    content: "\f105";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    right: 10px;
    width: 20px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    background: #e83a23;
}
.about-accourdion .card.show .card-body {
    border-color: #fff !important;
}
.about-accourdion .card-header {
    padding: 0;
	background: transparent;
}
.about-accourdion .card-body {
    border-top: 1px solid #ececec;
}
.about-accourdion .card-title {
    margin-bottom: 0;
}
.about-accourdion .about-accourdion .card {
    border: 0;
    border-bottom: 1px solid #eee;
    box-shadow: none;
}
.sveta img {
max-width: 100%;
}
/* About area end */

/* Img Gallery */
.mt-nav {
    margin-top: 7em;
    margin-bottom: 6em;
    position: relative;
}
div.galleries-btn-gr {
  
    margin-top:2.2em !important;
   /* margin-bottom: 1.2em !important; */
}

/* Buttons */
.btn-primary{
    color: #fff;
    background-color: #e83a23;
    border-color: #e83a23;
}
.btn-primary:hover {
    color: #fff;
    background-color: #c51a04;
    border-color: #c51a04;
}
.btn-primary:disabled {
    color: #fff;
    background-color: #f5553f;
    border-color: #f5553f;
}
.btn.btn-primary:active, .btn.btn-primary:visited, .btn-primary.active, .btn-primary.visited  {
    color: #fff !important;
    background-color: #f5553f !important;
    border-color: #f5553f !important;
    border: none !important;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
  /*  border-color: #f5553f !important; */
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border: none !important;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: 0 !important;
    border: none !important;
}
.btn-secondary {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #e83a23;
    border-color: #e83a23;
}
.btn-link {
    color: #e83a23;
}
.btn-link:hover {
    color: #c51a04;
}
.active a {
    color: #e83a23 !important;
}
/* btn-group dropdown /////////////////////// */
.btn-group .my-btn-group-responsive {
    border-radius: 0 4px 4px 0;
  }

.gallery {
    position: relative;
}

.card-title {
    margin-bottom: 0;
}
.card-body {
    padding-bottom: 1em;
    padding-top:  1em;
}
.card-material {
    float:right; 
    line-height:2em;
}

/* Success popup ///////////////////////////////////////////////// */
.success-wraper {
    position: relative;
}
.success-popup {
    position: absolute;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ccc2ad;
    
    border-radius: 4px;
    padding: 1em;
    box-shadow: 3px 5px 8px #ccc2ad;
    width:150px;
    height:60px;
    text-align: center;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  z-index: 26;
}
.success-popup h5 {
    color: #e83a23;
}
/* Alerts ///////////////////////////////////////////////// */
.alert-secondary.alert-pnt {
    background-color: #ff9082;
    color:#580b00;
}
/* Modals ///////////////////////////////////////////////// 
.fade {
    opacity: 0; 
   transition: opacity .15s linear; 
    animation: fadeIn .2s ease-in-out .2s forwards;
}
*/
.fas.fa-window-close {
    font-size: 2em;
}	
.fade {
	opacity: 0;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1; 
    animation-timing-function: ease-in; 
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
.modal-backdrop.fade {
	opacity: 0;
	animation-name: fadeInOpacityBD;
	animation-iteration-count: 1; 
    animation-timing-function: ease-in; 
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeInOpacityBD {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .5;
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.modal-content {
    margin-top: 300px !important;
}

.card-popup {
    position: absolute;
    padding: 10px;
    background-color: #333; 
    max-height: calc(100% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 26;
}
.fa-window-close {
    color: #e83a23;
}

.modal-edit-gal {
    width:80%;
    background-color: #fff;
    border: 1px solid #ccc2ad;
    border-radius: 4px;
    padding: 1em;
    box-shadow: 3px 5px 8px #ccc2ad;

    max-height: calc(100% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  z-index: 25;
}
.input-img {
    margin-bottom: 0.5em;
}

.modal-add-img {
    width:50%;
    background-color: #fff;
    border: 1px solid #ccc2ad;
    border-radius: 4px;
    padding: 1em;
    box-shadow: 3px 5px 8px #ccc2ad;

    max-height: calc(100% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  z-index: 26;
}

.img-details .col-sm-6 {
    padding: .5em;
    border-bottom: 1px solid #D3D1D4;
}
.img-details .col-sm-6:first-child {
    padding-left: 4em;
}

.modal-img-l {
    
    background-color: #fff;
    border: 1px solid #ccc2ad;
    border-radius: 4px;
    padding: 1em;
    box-shadow: 3px 5px 8px #ccc2ad;

    
    max-height: calc(90% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
  z-index: 25;
}

.modal img {
    display:block;
    margin: 0 auto;
   
    max-width: 100%;
    height: auto;
    max-height: 50vh;
}

.available.badge-secondary {
    color: #fff;
    background-color: #017c34;
}
.modalEdit {
    display:block;
    margin: 0 auto;
   
    max-width: 100%;
    height: auto;
    max-height: 70vh;
}

/* Entry Hover Effect */
.entry-box {
	position: relative;
	-moz-box-flex: 1;
	  -webkit-flex: 1;
	  -moz-flex: 1;
	  -ms-flex: 1;
	  flex: 1;	
	}	
.overlay-title-category-hover {
	position: absolute;
	top:0px;
	left:0;
	text-align: center;
	height: 100%;
  	width: 100%;
	z-index: 25;
	background-color: rgba(150, 150, 150, 0.8);
	color:#fff;
	display:none;
	}
.hvr-txt-align {
	height: 100%;
  	width: 100%;
	display: flex;
	justify-content: center;
  	flex-direction: column;
  	text-align: center;
}
.fa-search-plus, .fa-edit {
	font-size: 1.4em;
}
.entry-box:hover  .overlay-title-category-hover {
	display:block;	
}
/* /Entry Hover Effect */

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-gap: 1.5rem;
        -moz-column-gap: 1.5rem;
        column-gap: 1.5rem;
    }
    .cards-dash.card-columns {
        -webkit-column-count: 10;
        -moz-column-count: 10;
        column-count: 10;
        -webkit-column-gap: 1.5rem;
        -moz-column-gap: 1.5rem;
        column-gap: 1.5rem;
    }
    }

@media (min-width: 576px) and (max-width:991px)  {
.card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
}
.cards-dash.card-columns {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
    -webkit-column-gap: 1.5rem;
    -moz-column-gap: 1.5rem;
    column-gap: 1.5rem;
}
.about-section {
    padding-top: 70px;
    padding-bottom: 75px;
}
.modal-add-img {
    width:80%;
}

}

@media (max-width:767px)  {
    .modalEdit {
        height: 200px !important;
        width: auto;
      }
}

@media (max-width: 576px)  {
    .img-details .col-sm-6 {
        text-align: center;
    }
    .img-details .col-sm-6:first-child {
     padding-left: 0.5em;
     text-align: center;
    }
    .about-section {
        padding-top: 50px;
        padding-bottom: 45px;
    }
    .modal-add-img {
        width:95%;
    }
}


/* /Img Gallery */

/* /Exhibitions */
.img-exhibit img {
   max-height: 250px;
    width: auto;
    max-width:100%;
}
.row-exhibit {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #59545d;
}




/* Footer */
.footer-txt {
    float:none; 
    display:block; 
    width:100%;
}