<nav-bar></nav-bar>
<div class="container mt-nav">
    <div class="row row-exhibit">
        <div class="col">
                <h2 class="display-3">Contacts</h2>
        </div>
    </div>  <!-- /row -->    
    
    <div class="card">
            <div class="card-header">
                <h2 class="card-title">Please fill in the form</h2>
            </div>
            <div class="card-body">

                    <form name="userForm" class="form-horizontal well form-search">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Your Name</label>
                                <div class="col-sm-10">
                                    <input type="name" ng-model="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" ng-model="email" class="form-control" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Message" class="col-sm-2 control-label">Message</label>
                                <div class="col-sm-10">
                                    <textarea ng-model="message" id="Message" class="form-control" rows="3" placeholder="Your Message" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" ng-click="formsubmit(userForm.$valid)"  ng-disabled="userForm.$invalid" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
        
                        <pre ng-model="result">
                            {{result}}
                        </pre>

              <!-- <form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form">
                    <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                        <label for="inputName" class="col-lg-2 control-label">Name</label>
                        <div class="col-lg-10">
                            <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                        <div class="col-lg-10">
                            <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
                        <label for="inputSubject" class="col-lg-2 control-label">Subject</label>
                        <div class="col-lg-10">
                            <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                        <label for="inputMessage" class="col-lg-2 control-label">Message</label>
                        <div class="col-lg-10">
                            <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="button" class="btn btn-secondary" ng-click="sbmt(contactform)" ng-disabled="submitButtonDisabled">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
                <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p> -->
            </div>
        </div>
    
</div>
<footer-p></footer-p>