<nav-bar></nav-bar>
<div class="container mt-nav">
    <div class="row row-exhibit">
        <div class="col">
                <h2 class="display-3">Contacts</h2>
        </div>
    </div>  <!-- /row -->    
    
    <div class="card">
            <div class="card-header">
                <h2 class="card-title">Please fill in the form</h2>
            </div>
            <div class="card-body">

                    <form id="userForm" name="userForm" class="form-horizontal well form-search ">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">Your Name</label>
                                <div class="col-sm-10">
                                    <input name="from_name" type="name" ng-model="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input name="from_email" type="email" ng-model="email" class="form-control" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Message" class="col-sm-2 control-label">Message</label>
                                <div class="col-sm-10">
                                    <textarea name="message_html" ng-model="message" id="Message" class="form-control" rows="3" placeholder="Your Message" required></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10 success-wraper ">
                                 <div class="success-popup" ng-show="showSuccess"><h5>Success!</h5></div>  {{result}}        
                                 <!--   <button type="submit" ng-click="formsubmit(userForm.$valid)"  ng-disabled="userForm.$invalid" class="btn btn-primary">Submit</button> -->
                                 <button type="button" ng-click="emlJS()"  ng-disabled="userForm.$invalid" class="btn btn-primary">Submit</button> 
                                </div>
                            </div>
                        </form>
        
                      <!--  <pre ng-model="result">
                            {{result}}
                        </pre> -->
        
             
            </div>
        </div>
    
</div>
<footer-p></footer-p>